<!DOCTYPE html>
<html>
  <head>
    <title>Greenline</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="main-content">
     <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <%= link_to('GreenLine', root_path, class: "navbar-item") %>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
          </div>
          <div class="navbar-end">
            <%= link_to('Зарегистрироваться', new_user_registration_path, class: "navbar-item") if !signed_in? %>
            <%= link_to('Войти', new_user_session_path, class: "navbar-item") if !signed_in? %>
            <%= link_to('Дашбоард', servers_path, class: "navbar-item") if signed_in? %>
            <%= link_to('Выйти', destroy_user_session_path, method: :delete, class: "navbar-item") if signed_in? %>
          </div>
        </div>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    </div>
    <footer class="footer fix-footer">
      <div class="content has-text-centered">
        <p>
          GreenLine
        </p>
      </div>
    </footer>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
